.App {
  text-align: center;
  background: #1f2f5f;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  float:left;
  padding-left: 70px;
  padding-top: 20px;
}

.App-header {
  background-color: #1f2f5f;
  height: 80px;
  padding: 20px;
  color: white
}

.App-title {
  font-size: 1.5em;
  float: left;
}

.App-intro {
  font-size: large;
}


.slick-slide {
  text-align: center;
  color: white;
  font-size: 20px;
  display: table !important;
  background: #1f2f5f;
}

.slick-slide div {

}
.scroll-img{
  margin:auto;
}
.outer{
  margin-right: 5%;
  margin-left: 5%;

}
.slide-outer{
}
.inner-slide{
  display: table-cell;
  vertical-align: middle;
}
.slide-container{
  display: table;
  height: 800px;
}