.App {
  text-align: center;
  background: #1f2f5f;
  height:100vh;
}

.App-logo {
  height: 8vh;
}
#clk{
  float:right;
  padding-right: 48px;
  font-size: 21px;
}

.App-header {
  background-color: #1f2f5f;
  height: 10vh;
  color: white
}

.App-title {
  font-size: 1.5em;
  float: left;
}
.evt-img{
  max-width: 480px;
  margin-top: 24px;
  box-shadow: 10px 10px #a71d36;
}

.App-intro {
  font-size: large;
}


.slick-slide {
  text-align: center;
  color: white;
  font-size: 20px;
  display: table !important;
  background: #1f2f5f;
}

.slick-slide div {

}
.scroll-img{
  margin:auto;
  max-width: 100%;
}
.outer{
  margin-right: 5%;
  margin-left: 5%;

}
.slide-outer{
}
.inner-slide{
  display: table-cell;
  vertical-align: middle;
}
.slide-container{
  display: table;
  text-align: center;
  margin: auto;
}

.stripe-1 {
  color: white;
  background: repeating-linear-gradient(
          45deg,
          #95cfdc,
          #95cfdc 25px,
          #79c5d2 25px,
          #79c5d2 50px
  );
  min-height: 600px;
  min-width: 1500px;
}

div.slide-title {
  font-family:"Source Sans Pro";
  position: relative;
  display: inline-block;
  padding-top: 20px;
  overflow: hidden;
  color: #ffffff;
  font-size: 3.5em;
  font-weight: bolder;

}

.date{
  padding-top: 24px;
  font-weight: bold;
  font-color:#ffffff;
}

.body-text{
  font-size: 24px;
  color: #1f2f5f;
  font-weight: bold;
}


