.App {
  text-align: center;
  background: #1f2f5f;
  height:100vh;
}

.App-logo {
  height: 8vh;
}

.App-header {
  background-color: #1f2f5f;
  height: 10vh;
  color: white
}

.App-title {
  font-size: 1.5em;
  float: left;
}
.evt-img{
  max-width: 480px;
}

.App-intro {
  font-size: large;
}


.slick-slide {
  text-align: center;
  color: white;
  font-size: 20px;
  display: table !important;
  background: #1f2f5f;
}

.slick-slide div {

}
.scroll-img{
  margin:auto;
}
.outer{
  margin-right: 5%;
  margin-left: 5%;

}
.slide-outer{
}
.inner-slide{
  display: table-cell;
  vertical-align: middle;
}
.slide-container{
  display: table;
  text-align: center;
  margin: auto;
}
